extends base

mixin navItem(link,text,icon,active)
    li(class=`${active ? 'side-nav--active':''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/sprite.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me','Profil','users')
                    +navItem('/historical','Historique','note-list')
                    +navItem('/statistics','Statistiques','stop-watch')

                - if(user.role === 'teacher' || user.role === 'teacher-admin')
                    .admin-nav
                        h5.admin-nav__heading Professeur
                        ul.side-nav
                            +navItem(`/students/${user.id}`,'Liste élèves','folder-information', true)
                            +navItem('#','Groupes','users')

                - if(user.role === 'admin' || user.role === 'teacher-admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('/manageUsers','Gestion des utilisateurs','data')
                
                .admin-nav
                        h5.admin-nav__heading Filtres
                        form#studentsFilterForm.form__filter-users
                            select#sex.form__input.filter__item(name="sex")
                                option(value='1') Tout sexe
                                option(value='M') Homme
                                option(value='F') Femme
                            input#birthYear.form__input.filter__item(type="number", placeholder="Année de naissance")
                            input#group.form__input.filter__item(type="number", placeholder="Groupe")
                            
                            a.submitForm.btn-me-secondary-me-white.u-center-item.u-margin-top-medium.submitFilters Appliquer les filtres &rarr;


            .user-view__content
                .manageUsers__container
                    h2.heading-secondary.ma-bt-md Liste d'Élèves
                    .search
                        input#search_name.search__input(type='text', placeholder='Rechercher un élève')
                        button.search__button
                            svg.search__icon
                                use(xlink:href='img/sprite.svg#icon-magnifying-glass')
                        a.submitForm.btn-me-secondary-me.u-margin-left-medium.submitFilters Tout afficher &rarr;
                    table.list.u-margin-top-medium
                        thead.list__head
                            tr
                                td Nom
                                td Sexe
                                td Email
                                td Année de naissance
                                //- td Prof
                                td Groupe
                                td 
                        tbody
                            each user in users
                                tr.list__item
                                    td.list__item-name= `${user.firstName.charAt(0).toUpperCase()}${user.firstName.substring(1).toLowerCase()} ${user.lastName.toUpperCase()}`
                                    td #{user.sex === 'F' ? 'Femme' : 'Homme'}
                                    td #{user.email}
                                    td #{user.birthYear}
                                    td 
                                        form.updateGroup
                                            input.input__group(type="number", value=`${user.group ? user.group : 0}`,style='border: none;outline: none;',data-id=`${user._id}`)

                                    td      
                                        a(href=`statistics?${user._id}`)
                                            svg.search__icon
                                                use(xlink:href='img/sprite.svg#icon-adjustments')
                    .pagination              
                        if page !== 1
                            a#prevPage.btn-me-secondary-me.pagination__btn= `← Page ${page - 1}`
                        if results === 10 && results !== 0
                            a#nextPage.btn-me-secondary-me.pagination__btn= `Page ${page + 1} →`